@media (min-width: 961px) and (max-width: 1024px){
body {
    font-size: 15px;
}
}
body {
    margin: 0;
    background-image: url('/src/assets/images/imagen-fondo.png');
    background-repeat: tile;
    background-position: top left;
    color: #333333;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1{
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
img {
    border: 0;
}
* {
    box-sizing: border-box;
}