.footer {
    
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    padding: 20px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    a {
        text-align: center;
        text-decoration: none;
        color: #666;
    }
    
}