header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: $colorFondoheader;
    border-bottom: 1px solid $borderGrey ;
    .cambio{
        
        
        margin: 10px 50px;
        background: #343D58;
        border-radius: 1000px;
        position: relative;
        cursor: pointer;
        display: flex;
        border: none;
        outline: none;
        transition: 600ms all;
        &::after{
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            background: white;
            top: 0;
            left: 0;
            right: unset;
            border-radius: 100px;
            transition: .3s ease all;
            box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
        }
        &.active{
            background: rgb(23, 23, 23);
            color: rgb(220, 220, 220);
            &::after{
                right: 0;
                left: unset;
            }
        }
        span{
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: block;
            background: none;
            color: white;
        }
    }

    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $colorFondoCuadros;
    }

    a#logo2{
        justify-content: center;
    }
    a#logo3{
        font-size: large;
        padding-right: 1%;
        justify-self: end;
        text-align: center;
        justify-content: end;
        flex-direction: column;
    }
    a#logo3 > img{
        width: fit-content;
        align-self: center;
    }
    a > img{
        width: fit-content;
        align-items: center;
        height: 86px;
        padding: 1%;
        
    }
    
}