header {
    display: block;
    background-color: #5E79D8;
    border-radius: 20px;
}
header > a{

}
header > a > img{
    height: 86px;
}
body { 
    background-color: #6E93DB;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main{
    width: 100%;
}
main > a.link{
    display: flex;
    flex-direction: column;
    background-color: #5E79D8;
    margin: 2%;
    padding: 2%;
    text-align: center;
    border-radius: 20px; 
}
main > a.link > img{
    border-radius: 20px;
}
main > a.link#paginadecontacto > img{
    align-self: center;
    width: 30%;
}