header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #5E79D8;
    border-radius: 20px;
}
header > a{
    display: flex;
}
header > a#logo2{
    justify-content: center;
}
header > a#logo3{
    font-size: large;
    padding-right: 1%;
    justify-self: end;
    text-align: center;
    justify-content: end;
    flex-direction: column;
}
header > a#logo3 > img{
    width: fit-content;
    align-self: center;
}
header > a > img{
    width: fit-content;
    align-items: center;
    height: 86px;
    padding: 1%
}
body { 
    background-color: #6E93DB;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main{
    width: 100%;
}
main > a.link{
    display: flex;
    flex-direction: column;
    background-color: #5E79D8;
    margin: 2%;
    padding: 1%;
    text-align: center;
    border-radius: 20px; 
}
main > a.link > img{
    border-radius: 20px;
    border-style: solid;
}
main > a.link#paginadecontacto > img{
    align-self: center;
    width: 30%;
}